{{!< default}}

{{#tag}}
<main class="tag-template">
    <header class="tag-header">
        {{#if feature_image}}
        <div class="tag-image">
            <img src="{{img_url feature_image size="xl"}}" alt="{{name}}" loading="lazy" />
        </div>
        {{/if}}
        
        <div class="tag-info">
            <h1 class="tag-name">{{name}}</h1>
            
            {{#if description}}
            <div class="tag-description">
                {{description}}
            </div>
            {{/if}}
            
            <div class="tag-meta">
                <span class="post-count">{{plural count.posts empty='No posts' singular='% post' plural='% posts'}}</span>
            </div>
        </div>
    </header>

    <section class="tag-posts">
        <div class="post-feed">
            {{#foreach posts}}
                {{> "post-card"}}
            {{/foreach}}
        </div>
        
        {{pagination}}
    </section>
</main>
{{/tag}}