<header class="site-header">
    <div class="site-brand">
        {{#if @site.logo}}
            <a class="site-logo" href="{{@site.url}}">
                <img src="{{@site.logo}}" alt="{{@site.title}}" width="150">
            </a>
        {{else}}
            <h1 class="site-title"><a href="{{@site.url}}">{{@site.title}}</a></h1>
            <p class="site-description">{{@site.description}}</p>
        {{/if}}
    </div>
    
    <button class="menu-toggle" aria-label="Menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </button>
    
    {{> navigation}}
</header>